*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.2),
                0 2px 30px -10px rgba(0, 0, 0, 0.6);
}



.form {
    padding: 10px 30px;
}

.form header{ 
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form  form .error-txt{
    color: #732c24;
    background: #f8d7da;
    padding: 10px 13px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cd;
}

.form  form .field{ 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}


.form  form .input input{
    height: 40px;
    width: 100%;
    font-size: 17px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ccc;
}

.form form .field i{ 
   position: absolute;
   right: 15px; 
   top: 70%;
   transform: translateY(-50%);
   cursor: pointer;
   color: rgb(173, 173, 173);
}

.form form .image input{
    font-size: 17px;
    outline: none;
}

.form form .image input::-webkit-file-upload-button{
    padding: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
}

 .form form .button input{ 
     margin-top: 10px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
 }

 .form .link {
     text-align: center;
     margin: 10px 0;
     font-size: 17px
 }

 .form .link a:hover{
     text-decoration: underline;
 }





/* users */

.users {
    padding: 25px 30px;
}

.users header, .users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.wrapper img{
     object-fit: cover;
     border-radius: 50%;
}


.users header .content,
.users-list a .content{
    display: flex;
    align-items: center;
}

.users header  .details,
.users-list  .details{
    margin-left: 15px;
    color: #000
}
.users header  .details span, 
.users-list  .details span{
    font-size: 18px;
    font-weight: 500; 
}
.users header .content img {
    height: 50px;
    width: 50px;
}

.users header .logout{
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .users .search .text{
      font-size: 18px;
  }

  .users .search input{
      position: absolute;
      height: 42px;
      width: calc(100% - 50px);
      border: 1px solid #ccc;
      padding: 0 13px;
      font-size: 16px;
      outline: none;
      border-radius: 5px;
  }

  .users .search button {
      width: 49px;
      height: 42px;
      border: none;
      outline: none;
      color: #fff;
      background: #333;
      border-radius: 0 5px 5px 0;
      font-size: 16px;
      cursor: pointer;
  }


  .users-list{
    max-height: 300px;
    overflow-y: scroll;
  }

  .users-list::-webkit-scrollbar{
      width: 0;
    }

  .users-list a .content img{
      height: 40px;
      width: 40px;
  }
  .users-list a{
      padding-right: 14px;
      margin-bottom: 10px;
      border-bottom-color: #f4f4f4;
  }
  .users-list a .status-dot {
      color: #468669;
  }

  .users-list a .status-dot.offline{

  }

  .users-list a p{
      color: #67676a;
  }

  /* Chat area */
   .chat-area header{
       display: flex;
       align-items: center;
       padding: 10px 30px;
   }

   .chat-area header img{
       height: 45px;
       width: 45px;
       margin: 0 15px;
   }

   .chat-area header .back-icon{
       font-size: 18px;
       color: #333;
   }
   .chat-area header  span {

   }

 .chat-box{
       overflow-y: scroll;
       height: 500px;
       background: #f7f7f7;
       padding: 10px 30px 20px 30px;
       box-shadow: inset 0 32px 32px -32px rgb(0, 0, 0 / 5%),
                inset 0 -32px 32px -32px rgb(0, 0, 0 / 5%);
   }

   .chat-box::-webkit-scrollbar{
       width: 0;
   }

   .chat-box .chat p{
    padding: 8px 16px;
    margin-top: 15px;
    word-wrap: break-word;
  
   }

   .chat-box .outgoing{
       display: flex;
   }

   .outgoing .details {
       max-width: calc(100% - 130px);
       margin-left: auto;
   }

   .outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 20px 20px  0 20px;
}

.incoming .details {
    max-width: calc(100% - 130px);
}

.incoming {
    display: flex;
    align-items: center;
}
.incoming  img{
    height: 40px;
    width: 40px;
}

.incoming .details p{
 background: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 border-radius: 20px 20px  20px 0;
}

.chat-area .typing-msg {
     padding: 18px 30px;
     display: flex;
     justify-content: space-between;

}

.typing-msg input{
    height: 45px;
    width: calc(100% - 55px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
}

.typing-msg button{
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background: #333;
    cursor: pointer;
}